In [1]:
import time
import random
import pandas as pd
import numpy as np

from tqdm import tqdm
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

import tensorflow as tf
from tensorflow.keras import backend as K
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Layer, MaxPooling2D, Conv2D, Dropout, Lambda, Dense, Flatten, Activation, Input, Embedding, BatchNormalization
from tensorflow.keras.initializers import glorot_normal, Zeros, TruncatedNormal
from tensorflow.keras.regularizers import l2


from tensorflow.keras.optimizers import Adam
from tensorflow.keras.losses import BinaryCrossentropy
from tensorflow.keras.metrics import BinaryAccuracy


from tensorflow.keras.optimizers import Adam
from collections import defaultdict
import math

from autoint import AutoIntMLPModel, predict_model

In [2]:
# 평가지표
def get_DCG(ranklist, y_true):
    dcg = 0.0
    for i in range(len(ranklist)):
        item = ranklist[i]
        if item in y_true:
            dcg += 1.0 / math.log(i + 2)
    return  dcg

def get_IDCG(ranklist, y_true):
    idcg = 0.0
    i = 0
    for item in y_true:
        if item in ranklist:
            idcg += 1.0 / math.log(i + 2)
            i += 1
    return idcg

def get_NDCG(ranklist, y_true):
    '''NDCG 평가 지표'''
    ranklist = np.array(ranklist).astype(int)
    y_true = np.array(y_true).astype(int)
    dcg = get_DCG(ranklist, y_true)
    idcg = get_IDCG(y_true, y_true)
    if idcg == 0:
        return 0
    return round( (dcg / idcg), 5)

def get_hit_rate(ranklist, y_true):
    '''hitrate 평가 지표'''
    c = 0
    for y in y_true:
        if y in ranklist:
            c += 1
    return round( c / len(y_true), 5 )

In [33]:
def test_model(model, test_df):
    '''모델 테스트'''
    user_pred_info = defaultdict(list)
    total_rows = len(test_df)
    for i in range(0, total_rows, batch_size):
        features = test_df.iloc[i:i + batch_size, :-1].values
        y_pred = model.predict(features, verbose=False)
        for feature, p in zip(features, y_pred):
            u_i = feature[:2]
            user_pred_info[int(u_i[0])].append((int(u_i[1]), float(p)))
    return user_pred_info

데이터 불러오기

In [4]:
movielens_rcmm = pd.read_csv("C:/Users/TaeWook Nam/autoint/data/ml-1m/movielens_rcmm_v2.csv", dtype=str)
print(movielens_rcmm.shape)
movielens_rcmm.head()

(1000209, 15)

,user_id,movie_id,movie_decade,movie_year,rating_year,rating_month,rating_decade,genre1,genre2,genre3,gender,age,occupation,zip,label
0,1,1193,1970s,1975,2000,12,2000s,Drama,no,no,F,1,10,48067,1
1,1,661,1990s,1996,2000,12,2000s,Animation,Children's,Musical,F,1,10,48067,0
2,1,914,1960s,1964,2000,12,2000s,Musical,Romance,no,F,1,10,48067,0
3,1,3408,2000s,2000,2000,12,2000s,Drama,no,no,F,1,10,48067,1
4,1,2355,1990s,1998,2001,1,2000s,Animation,Children's,Comedy,F,1,10,48067,1

In [5]:
from sklearn.preprocessing import LabelEncoder

label_encoders = {col: LabelEncoder() for col in movielens_rcmm.columns[:-1]} # label은 제외

for col, le in label_encoders.items():
    movielens_rcmm[col] = le.fit_transform(movielens_rcmm[col])

In [6]:
movielens_rcmm.head()

,user_id,movie_id,movie_decade,movie_year,rating_year,rating_month,rating_decade,genre1,genre2,genre3,gender,age,occupation,zip,label
0,0,189,6,55,0,3,0,7,17,15,0,0,2,1588,1
1,0,3374,8,76,0,3,0,2,2,8,0,0,2,1588,0
2,0,3615,5,44,0,3,0,11,12,15,0,0,2,1588,0
3,0,2503,9,80,0,3,0,7,17,15,0,0,2,1588,1
4,0,1374,8,78,1,0,0,2,2,2,0,0,2,1588,1

In [7]:
movielens_rcmm['label'] = movielens_rcmm['label'].astype(np.float32)

In [8]:
train_df, test_df = train_test_split(movielens_rcmm, test_size=0.2, random_state=42)

In [9]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 800167 entries, 416292 to 121958
Data columns (total 15 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   user_id        800167 non-null  int32
 1   movie_id       800167 non-null  int32
 2   movie_decade   800167 non-null  int32
 3   movie_year     800167 non-null  int32
 4   rating_year    800167 non-null  int32
 5   rating_month   800167 non-null  int32
 6   rating_decade  800167 non-null  int32
 7   genre1         800167 non-null  int32
 8   genre2         800167 non-null  int32
 9   genre3         800167 non-null  int32
 10  gender         800167 non-null  int32
 11  age            800167 non-null  int32
 12  occupation     800167 non-null  int32
 13  zip            800167 non-null  int32
 14  label          800167 non-null  float32
dtypes: float32(1), int32(14)
memory usage: 51.9 MB

In [10]:
u_i_feature = ['user_id', 'movie_id']
meta_features = ['movie_decade', 'movie_year', 'rating_year', 'rating_month', 'rating_decade', 'genre1','genre2', 'genre3', 'gender', 'age', 'occupation', 'zip']
label = 'label'
field_dims = np.max(movielens_rcmm[u_i_feature + meta_features].astype(np.int64).values, axis=0) + 1
field_dims

array([6040, 3706,   10,   81,    4,   12,    1,   18,   18,   16,    2,
          7,   21, 3439], dtype=int64)

모델 정의

In [23]:
epochs=5
learning_rate= 0.01
dropout= 0.2
batch_size = 512
embed_dim= 32

In [25]:
autoIntMLP_model = AutoIntMLPModel(
    field_dims,
    embed_dim,
    att_layer_num=3,
    att_head_num=2,
    att_res=True,
    dnn_hidden_units=(32, 32),
    dnn_activation='relu',
    l2_reg_dnn=0,
    l2_reg_embedding=1e-5,
    dnn_use_bn=False,
    dnn_dropout=0.4,
    init_std=0.0001
)

In [29]:
# 옵티마이저, 오차함수 정의
optimizer = Adam(learning_rate=learning_rate)
# optimizer = RMSprop(learning_rate=learning_rate)
loss_fn = BinaryCrossentropy(from_logits=False)

In [30]:
autoIntMLP_model.compile(optimizer=optimizer, loss=loss_fn, metrics=['binary_crossentropy'])

훈련 및 평가

In [31]:
history = autoIntMLP_model.fit(train_df[u_i_feature + meta_features], train_df[label], epochs=epochs, batch_size=batch_size, validation_split=0.1)
#다양한 시도를 해보았지만 딱히 성능이 나아지지는 않는다

Epoch 1/5
1407/1407 [==============================] - 100s 69ms/step - loss: 0.5440 - binary_crossentropy: 0.5440 - val_loss: 0.5534 - val_binary_crossentropy: 0.5534
Epoch 2/5
1407/1407 [==============================] - 99s 71ms/step - loss: 0.5489 - binary_crossentropy: 0.5489 - val_loss: 0.5646 - val_binary_crossentropy: 0.5646
Epoch 3/5
1407/1407 [==============================] - 101s 72ms/step - loss: 0.5612 - binary_crossentropy: 0.5612 - val_loss: 0.5588 - val_binary_crossentropy: 0.5588
Epoch 4/5
1407/1407 [==============================] - 100s 71ms/step - loss: 0.5473 - binary_crossentropy: 0.5473 - val_loss: 0.5534 - val_binary_crossentropy: 0.5534
Epoch 5/5
1407/1407 [==============================] - 98s 69ms/step - loss: 0.5558 - binary_crossentropy: 0.5558 - val_loss: 0.5557 - val_binary_crossentropy: 0.5557

In [35]:
# 사용자에게 예측된 정보를 저장하는 딕셔너리 
user_pred_info = {}
# top10개
top = 10
# 테스트 값을 가지고 옵니다. 
mymodel_user_pred_info = test_model(autoIntMLP_model, test_df)
# 사용자마다 돌면서 예측 데이터 중 가장 높은 top 10만 가져옵니다. 
for user, data_info in tqdm(mymodel_user_pred_info.items(), total=len(mymodel_user_pred_info), position=0, leave=True):
    ranklist = sorted(data_info, key=lambda s : s[1], reverse=True)[:top]
    ranklist = list(dict.fromkeys([r[0] for r in ranklist]))
    user_pred_info[str(user)] = ranklist
# 원본 테스트 데이터에서 label이 1인 사용자 별 영화 정보를 가져옵니다.
test_data = test_df[test_df['label']==1].groupby('user_id')['movie_id'].apply(list)

100%|██████████| 6035/6035 [00:00<00:00, 72754.57it/s]

In [36]:
mymodel_ndcg_result = {}
mymodel_hitrate_result = {}

# 모델 예측값과 원본 테스트 데이터를 비교해서 어느정도 성능이 나왔는지 NDCG와 Hitrate를 비교합니다.

# NDCG
for user, data_info in tqdm(test_data.items(), total=len(test_data), position=0, leave=True):
    mymodel_pred = user_pred_info.get(str(user))

    testset = list(set(np.array(data_info).astype(int)))
    mymodel_pred = mymodel_pred[:top]

    # NDCG 값 구하기
    user_ndcg = get_NDCG(mymodel_pred, testset)

    mymodel_ndcg_result[user] = user_ndcg

# Hitrate
for user, data_info in tqdm(test_data.items(), total=len(test_data), position=0, leave=True):
    mymodel_pred = user_pred_info.get(str(user))

    testset = list(set(np.array(data_info).astype(int)))
    mymodel_pred = mymodel_pred[:top]

    # hitrate 값 구하기
    user_hitrate = get_hit_rate(mymodel_pred, testset)

    # 사용자 hitrate 결과 저장
    mymodel_hitrate_result[user] = user_hitrate

100%|██████████| 5994/5994 [00:01<00:00, 3681.83it/s]
100%|██████████| 5994/5994 [00:00<00:00, 37960.31it/s]

In [37]:
print(" mymodel ndcg : ", round(np.mean(list(mymodel_ndcg_result.values())), 5))
print(" mymodel hitrate : ", round(np.mean(list(mymodel_hitrate_result.values())), 5))

 mymodel ndcg :  0.65508
 mymodel hitrate :  0.62896

In [40]:
np.save('C:/Users/TaeWook Nam/autoint/data/field_dims_mlp.npy', field_dims) #저장하기

In [43]:
autoIntMLP_model.save_weights('C:/Users/TaeWook Nam/autoint/data/autoIntMLP_model_weights.h5')

In [45]:
import joblib 

joblib.dump(label_encoders, 'C:/Users/TaeWook Nam/autoint/data/autoIntMLP_label_encoders.pkl')

['C:/Users/TaeWook Nam/autoint/data/autoIntMLP_label_encoders.pkl']